* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ADD8E6;
    --text-light: white;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --small-padding: 10px;
    --accent1-color: #264653;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: var(--small-padding);
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

header img {
    width: 150px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 20px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--text-light);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
}

nav a {
    flex: 1;
    max-width: 180px;
    text-align: center;
    text-decoration: none;
    color: var(--accent1-color);
    border: 1px solid #999;
    background: white;
    padding: .75rem;
    white-space: nowrap;
}

.history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    gap: 20px;
    align-items: center;
}

.history img {
    width: 250px;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    text-align: center;
}

.adventures h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.adventures img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

footer p {
    flex: 1;
    text-align: center;

}

.socialmedia a {
    display: flex;
    gap: 10px;
}

/* Contact Page */

.contact-info {
    text-align: center;
    margin-bottom: 15px;
}

.contact-grid. {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
    margin: 30px 0;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;

}

input,
textarea,
button {
    padding: 10px;
    font-size: var(--body-font);
    font-size: 1rem;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset label {
    display: block;
    margin: 10px 0;
}

button {
    background-color: var(--accent1-color);
    color: var(--text-light);
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

.contact-employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 40px;
}

.contact-employees h2 {
    grid-column: 1 / -1;
}

.contact-employees img {
    width: 180px;
    height: auto;
    object-fit: cover;
}